h1{
    max-width: 600px;
    background-color: blue;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
a:link{
    color: red;

}
a:visited{
    color: gray;
}
a:hover{
    color: brown;
}
a:active{
    color: green;
}